@import '~antd/dist/antd.css';

.App {
  margin: 10px;
}

.title {
  margin: 10px 0;
}

.container {
  margin-top: 10px;
  display: flex;
  height: 500px;
}

.container > div {
  width: 100%;
  height: 100%;
}

textarea.ant-input {
  height: 100%;
}

#previewer {
  padding-left: 10px;
}

#previewer img {
  width: 100%;
  height: 100%;
}
