@import '~antd/dist/antd.css';

.App {
  margin: 10px;
}

.title {
  margin: 10px 0;
}

.container {
  margin-top: 10px;
  display: flex;
  height: 500px;
}

#editor {
  width: 100%;
}

#previewer {
  padding-left: 10px;
  border-left: 1px solid grey;
  width: 100%;
}
