@import '~antd/dist/antd.css';

.App {
  margin: 10px;
}

.container {
  margin-top: 10px;
  display: flex;
  height: 500px;
}

#content {
  background-color: gray;
  width: 100%;
}

#preview {
  background-color: pink;
  width: 100%;
}
